<style>
    hr,
    .prose :where(hr):not(:where([class~=not-prose], [class~=not-prose] *)) {
        margin: 16px 0;
    }

    .intro {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: start;
    }

    .intro>img {
        margin: 0;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        margin-left: 16px;
    }

    .aboutme p {
        margin: 1px;
        font-weight: 300;
        font-size: 16px;
        height: auto;
    }
</style>

<hr>
<div class="intro">
    <img src="/img/iampervaze.png" width="100" />
    <div class="aboutme">
        <p>Pervaze Ahanger</p>
        <p><a href="mailto:iampervaze@gmail.com">iampervaze@gmail.com</a></p>
    </div>
</div>